<% provide(:title, 'Login or Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h2>Connect with friends and the
world around you on Facebook. </h4>
		<br/><br/>
		<h4><img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851565_602269956474188_918638970_n.png"> <b>See photos and updates</b> from friends in News Feed. </h4>
		<br/>
		<h4><img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xaf1/t39.2365-6/851585_216271631855613_2121533625_n.png"> <b>Share what's new</b> in your life on your Timeline. </h4>
		<br/>
		<h4><img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851558_160351450817973_1678868765_n.png"> <b>Find more</b> of what you're looking for with Facebook Search. </h4>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<h1>Sign Up</h1>
		<p>It’s free and always will be.</p>
		<%= render 'shared/user_form' %>
	</div>
</div>
